* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::selection {
  background-color: white;
  color: black;
  text-shadow: none;
}

body {
  background: black;
}

.hero {
  overflow: hidden;
  position: relative;
  background-color: black;
}

.wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  content: "";
  background: linear-gradient(
    0deg,
    rgba(8, 8, 8, 0.6362745781906513) 9%,
    rgba(255, 255, 255, 0) 100%
  );
}

video {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.hero-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  z-index: 9999;
  position: absolute;
  bottom: 6%;
  left: 2.5%;
  animation: normal fadeIn 2s;
  margin-right: 20px;
}

.hero-text span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
}
.hero-text h1 {
  font-size: 4em;
  padding-bottom: 5px;
  animation: normal fadeIn 2s;
}

.hero-text h2 {
  text-wrap: nowrap;
  font-size: 1.5em;
  padding-left: 5px;
  font-weight: 500;
  animation: backwards fadeIn 2s 2s;
}

@media screen and (max-width: 620px) {
  .hero-text h2 {
    font-size: 1.25em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Section 2 - Our Mission */

.section-2 {
  height: auto;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}

.section-2 h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.25em;
  padding: 1em;
}

.section-2 p {
  width: 50%;
  min-width: 250px;
  overflow: hidden;
  font-size: 1.25em;
  margin: 0.5em 3em;
}

.section-2 div {
  display: flex;
}

.btn {
  padding-bottom: 20px;
}

.btn a {
  display: block;
  text-align: center;
  margin: auto;
}

.section-2 div button {
  margin: 50px auto;
  padding: 10px 100px;
  border-radius: 5px;
  border: white solid 2px;
  background-color: white;
  transition: 0.35s;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.section-2 div button:hover {
  cursor: pointer;
  border-radius: 5px;
  border: white solid 2px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.photos {
  position: relative;
}

.photos img {
  position: absolute;
  border-radius: 50%;
  filter: grayscale(100);
  transition: 0.25s;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.photos img:hover {
  filter: none;
  cursor: pointer;
}

.photos img:nth-child(1) {
  margin-left: 70%;
  bottom: -30.5vh;
  z-index: 9999;
}

.photos img:nth-child(2) {
  margin-left: 60%;
  bottom: 30%;
}

@media (max-width: 767px) {
  .photos img:nth-child(1) {
    bottom: -60px;
    margin-left: 70%;
  }
  .photos img:nth-child(2) {
    bottom: 200px;
    margin-left: 75%;
    width: 200px;
  }
}

@media (max-width: 500px) {
  .photos img {
    display: none;
  }

  .section-2 p {
    width: auto;
  }
}

.custom-shape-divider-top-1703873730 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1703873730 svg {
  position: relative;
  display: block;
  width: calc(104% + 1.3px);
  height: 125px;
}

.custom-shape-divider-top-1703873730 .shape-fill {
  fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1703873730 svg {
    width: calc(176% + 1.3px);
    height: 125px;
  }
}

/* Section 3 */

.section-3 {
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url(imgs/hours.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative; */
}

@media (hover: hover) {
  .section-3 {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7)
      ),
      url(imgs/hours.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    background-attachment: fixed;
  }
}

@media (hover: none) {
  .section-3 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7)
      ),
      url(imgs/hours.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
}

.wave-top {
  position: absolute;
}

.hours-block {
  width: auto;
  margin: auto;
}

.section-3 h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  text-shadow: 3px 3px 1px black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section-3 h1 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
}

.white-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.white-wave svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 128px;
}

.white-wave .shape-fill {
  fill: #ffffff;
}

/* Section 4 */
.section-4 {
  height: auto;
  width: 100%;
  background: white;
  background-image: url(llline.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-4 h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 60px;
}

.section-4 h1::selection {
  background-color: black;
  color: white;
}

.section-4 p::selection {
  background-color: #000000;
  color: white;
}

.section-4 p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* Cards */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  margin: auto;
  padding: 100px 0 100px 0;
}

.container .card {
  position: relative;
  width: 250px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container .card:hover {
  cursor: pointer;
}

.container .card:nth-child(1):hover {
  background-image: url(imgs/daniel.jpeg);
  filter: grayscale(100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: difference;
  position: relative;
}

.container .card:nth-child(2) {
  width: 220px;
  height: 375px;
}

.container .card:nth-child(3) {
  width: 200px;
  height: 350px;
}

.container .card:nth-child(2):hover {
  background-image: url(imgs/gio.jpeg);
  filter: grayscale(100);
  background-repeat: no-repeat;
  background-position: -10px;
  background-size: cover;
  background-blend-mode: difference;
  position: relative;
}
.container .card:nth-child(3):hover {
  background-image: url(imgs/nmeso.jpeg);
  filter: grayscale(100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: difference;
  position: relative;
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}

@media (hover: none) {
  .container .card .content {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container .card .content h2 {
  position: absolute;
  top: -200px;
  right: -50px;
  font-size: 8em;
  color: rgb(255, 255, 255);
  pointer-events: none;
  font-family: "Playfair Display", serif;
}

#card3-number {
  position: absolute;
  top: -180px;
  right: 20px;
}

.container .card .content h3 {
  font-size: 1em;
  color: rgb(255, 255, 255);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

/* Footer */

footer {
  height: auto;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  background: rgb(255, 255, 255);
}

footer p {
  padding: 5px;
  font-size: 1rem;
}

footer a {
  color: black;
}

footer p::selection,
footer a::selection {
  background-color: #000000;
  color: white;
}

/* Fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
